<h3>About Us</h3>
<iframe src="https://giphy.com/embed/szpY5c63cmzOE" width="480" height="398" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/pandawhale-rickroll-pandawhalegif-szpY5c63cmzOE">via GIPHY</a></p>
<iframe src="https://giphy.com/embed/tqI9aaw8dtoYM" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/80s-rickroll-tqI9aaw8dtoYM">via GIPHY</a></p>
<style media="screen">
  iframe {float: left;}
</style>
