<div class="well">
  <h3>{{(projectToDisplay | async)?.name}}</h3>
  <h4>{{(projectToDisplay | async)?.managers}}</h4>
  <p>{{(projectToDisplay | async)?.description}}</p>
  <p>Goal: {{(projectToDisplay | async)?.targetAmount}}</p>
  <p>Amount Currently Raised: {{(projectToDisplay | async)?.currentAmount}}</p>
  <p>{{(projectToDisplay | async)?.intent}}</p>
  <p>Swag for donating: {{(projectToDisplay | async)?.swag}}</p>
  <button (click)="donate()" class="btn btn-default">Donate</button>
</div>
