#ultimate-container {
  max-width: 1300px;
}

.container {
  width: 70%;
  margin-left: 25%;
  margin-right: 5%;
  max-width: 880px;
}

#jumbo-header {
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 260.188px;
}

#jumbo-header h1 {
  transform: rotate(-90deg);
}

.navbar {
  z-index: 1;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media (max-height: 530px) {
  #jumbo-header {
    width: 100vw;
    height: auto;
    position: static;
    margin: 0 0 30px 0;
    max-width: none;
  }
  #jumbo-header h1 {
    transform: none;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .navbar {
    margin-top: 0;
    margin-bottom: 0;
  }
}
