<div class="form-simulation">
  <h3>Add New Project</h3>
  <div class="form-group">
    <label>Project Name:</label>
    <input #newName class="form-control">
  </div>

  <div class="form-group">
    <label>Project Managers:</label>
    <input #newManagers class="form-control">
  </div>

  <div class="form-group">
    <label>Project Description:</label>
    <textarea #newDescription class="form-control"></textarea>
  </div>

  <div class="form-group">
    <label>Goal Amount:</label>
    <input #newTargetAmount class="form-control" placeholder="$1,000">
  </div>

  <div class="form-group">
    <label>What will you do once you reach your goal?</label>
    <textarea #newIntent class="form-control" placeholder="Once we reach our goal we will..."></textarea>
  </div>

  <div class="form-group">
    <label>Rewards for donating:</label>
    <input #newSwag class="form-control" placeholder="Potato salad and a keychain">
  </div>

  <button (click)="submitForm(newName.value, newManagers.value, newDescription.value, newTargetAmount.value, '$0', newIntent.value, newSwag.value); newName.value=''; newManagers.value=''; newDescription.value=''; newTargetAmount.value=''; newIntent.value=''; newSwag.value=''" class="btn btn-default">Add</button>
</div>

<div>
  <app-browse></app-browse>
</div>
